
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url('../images/bg2.jpg');
    /*  background-image: url('images/bg2.jpg');*/
    background-repeat: no-repeat;
    background-position: top;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 5px;
}

h1 {
    margin-top: 0.2rem;
    margin-bottom: 2.5rem;
}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
    font-size: 18px;
    position: fixed;
}

section {
    display: -webkit-flex;
    display: flex;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    color: antiquewhite;
    text-align: center;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
    font-size: 10px;
}

.table tbody {
    background-color: rgba(251,251,255,0.8);
}

.table th{
    background-color: darkslategray;
    color: lightgray;
}

.table td{
    color: black;
}

.form {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0px;
    text-align: left;
    align-content: center;
}

.form-control {
    background-color: rgba(251,251,255,0.9);
    margin-bottom: 13px;
}

.div dd{
    text-align: left;
}

.div {
    text-align: right;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
