@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h3>@Model.Message</h3>
<br />
<br />
<p> We are a community that offers information for game lovers!</p>
<p> Infs like the year it was created, the minimum and maximum number of players!</p>
<br />
<h3>Go back to <a asp-page="/Index"Home class="btn btn-info navbar-btn">Home</a></h3>