@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h3>@Model.Message</h3>
<br />
<address>
    Games' World!<br />
    Innisfil St, Barrie, L6P 4G9<br />
    <abbr title="Phone">P:</abbr>
    647.987.7854
</address>

<address>
    <strong>Sales:</strong> <a href="mailto:Sales@gamesworld.com">Marketing@example.com</a><br />
    <strong>Support:</strong> <a href="mailto:Support@gamesworld.com">Support@example.com</a>
</address>
