@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h3>@Model.Message</h3>
<br />
<address>
    Games' World!<br />
    Innisfil St, Barrie, L6P 4G9<br />
    647.987.7854
</address>

<address>
    <strong>Sales:</strong> <a class="btn btn-secondary" href="mailto:Sales@gamesworld.com">Marketing@gamesworld.com</a><br />
</address>
