@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <main>
        <br />
        <br />
        <h1>Welcome to Games' World!</h1>
        <br />
        <p> Here You Can Find All You Need About Games. Please Click On Get Started.</p>
        <br />
        <h2>Today is @Model.Date</h2>
    </main>
</body>
</html>