@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>By clicking the "accept" button you are agreeing to a general privacy policy. </p>

<h3>Learn more <a href="https://www.termsfeed.com/blog/sample-privacy-policy-template/" class="btn btn-info navbar-btn">Here</a></h3>